.card-container{
    width: 390px;
    height: 301px;
    border-radius: 18px;
    background-color: #2A2A2A;
    transition: transform 0.2s ease;
    cursor: pointer;
    
}
.card-container:hover{
    transform: scale(1.05);
}
.click{
    /* font-family: Poppins; */
    font-size: 10px;
    font-weight: 800;
    line-height: 19px;
    text-align: left;
    color: #C5C5C5;
    margin: 7px 0px 0px 15px;

}
.card-title{
    /* font-family: Poppins; */
    font-size: 19px;
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    color: var(--Primary-Color);    
    margin: 7px 0px 0px 15px;
}