.icons-heading{
    /* font-family: Poppins; */
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.12em;
    text-align: center;
    color: #C5C5C5;
    margin-top: 50px;
}
.card-heading{
    /* font-family: Poppins; */
    font-size: 35px;
    font-weight: 800;
    line-height: 35.75px;
    text-align: center;
    background: linear-gradient(#FF8660,#D5491D);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 50px; 
}
.experienceSection-heading{
    font-size: 35px;
    font-weight: 800;
    line-height: 35.75px;
    text-align: center;
    background: linear-gradient(#5BADFF,#1373D1);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 100px;
}